.contact-section {
    margin-right: 25%;
    margin-left: 25%;
}

.contact-section ul {
    list-style: none;
    padding-left: 0px;
}

.contact-section li {
    display: inline-block;
}

.contact-section ul li a i {
    text-decoration: none;
    color: #CCD6F6;
    transition: transform .9s ease;
}

.contact-section ul li a i:hover {
    color: #91C56D;
    transform: scale(1.1);
}

.icon-dark {
    color: #0A192F !important;
    transition: .5s ease all;
}

.contact-description {
    color: #CCD6F6;
    font-size: 20px;
    transition: .5s ease all;
}

.contact-description-light {
    color: #0A192F !important;
    font-size: 20px;
    transition: .5s ease all;
}