.contact-section {
    margin-right: 25%;
    margin-left: 25%;
}

.contact-section ul {
    list-style: none;
    padding-left: 0px;
}

.contact-section li {
    display: inline-block;
}

.contact-section ul li a i {
    text-decoration: none;
    color: #CCD6F6;
    transition: transform .9s ease;
}

.contact-section ul li a i:hover {
    color: #64FFDA;
    transform: scale(1.1);
}