<div id="portfolio" class="section container">
    <hr [ngClass]="{'line-section-light': lightMode, 'line-section': !lightMode}"/>
    <h1 class="text-center" [ngClass]="{'section-title-light': lightMode, 'section-title': !lightMode}">Work</h1>
    <hr class="mb-5" [ngClass]="{'line-section-light': lightMode, 'line-section': !lightMode}"/>
    <div *ngIf="works.length > 0" class="row">
      <div *ngFor="let work of works" class="col-lg-3 col-md-6 col-sm-6 px-2 py-3 d-flex justify-content-center">
        <div mat-button (click)="openDialog(work)" class="card">
          <img class="card-img img" [src]="work.img">
          <div class="flip-card-back d-flex justify-content-center align-items-center" [ngClass]="{'flip-card-back-light': lightMode}">
            <div><i class="fas fa-search-plus fa-5x" [ngClass]="{'icon-light': lightMode}" style="color: #0A192F;"></i><br>See More</div>
          </div>
        </div>
      </div>
    </div>
  </div>

