.card {
    width: 250px !important;
    height: 200px !important;
    position: relative;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.img {
    width: 100%;
    height: 100%;
}

.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #CCD6F6;
    color: #0A192F;
    transform: rotateY(180deg);
    cursor: pointer;
}

.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

@media (max-width: 992px) {
    .flip-card-back{
        display: none !important;
    }
    .card:hover {
        transform: none !important;
    }
}