<div id="about" class="section container">
    <hr [ngClass]="{'line-section-light': lightMode, 'line-section': !lightMode}"/>
    <h1 class="text-center" [ngClass]="{'section-title-light': lightMode, 'section-title': !lightMode}">About</h1>
    <hr class="mb-5" [ngClass]="{'line-section-light': lightMode, 'line-section': !lightMode}"/>
    <div *ngIf="aboutDescription !== ''" class="about-section">
        <div class="text-center">
            <p [ngClass]="{'section-description-light': lightMode,'section-description': !lightMode}">
                {{ firstParagraph }} <br>
                {{ secondParagraph }}
            </p>
        </div>
        <div class="text-center mt-5">
            <a [href]="aboutLink" [ngClass]="{'btn-link-light': lightMode, 'btn-link': !lightMode}" class="btn btn-outline-primary btn-link px-3" target="_blank">Resume</a>
        </div>
    </div>
</div>
