<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.svg" alt="" width="50" height="50" />
    </a>
    <button (click)=buttonClick() class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarNav">
      <ul *ngIf="items.length > 0" class="navbar-nav ms-auto">
        <li *ngFor="let item of items" class="nav-item">
          <a class="nav-link me-2" (click)="buttonClick()" [href]="item.link">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

