.header {
    background: url(../../../assets/pexels-comprimido.jpg);
    background-size: cover;
    min-height: 500px;
    margin-top: 64px;
}

.background-overlay {
    background: rgba(10, 25, 47, .7);
    min-height: 500px;
}

.name {
    padding-top: 170px;
}

