.line-section {
    background: linear-gradient(to right, transparent, #0A192F, transparent);
    margin-left: 2%;
    margin-right: 2%;
}

.badge-primary {
    background-color: #0A192F !important;
    color: white;
    border-radius: 10px;
    padding: 8px;
}

.close-icon {
    font-size: 2.2em;
    transition: transform .3s linear;
}

.close-icon:hover {
    transform: rotate(360deg);
}

.btn-link {
    text-decoration: none;
    border-color: #0A192F;
    border-radius: 12px;
    color: #0A192F;
}

.btn-link:hover {
    background-color: #0A192F;
    color: white;
}

.badge-usedList {
    font-size: 14px;
    background-color: #0A192F;
    color: white;
    border-radius: 12px;
}

@media (max-width: 992px) {
    .close-icon {
        display: none;
    }
}