<div class="d-flex justify-content-end"><i mat-dialog-close class="close-icon far fa-times-circle fa-3x"></i></div>
<h1 class="d-flex justify-content-center" mat-dialog-title>{{ data.name }}</h1>
<hr class="line-section">
<mat-dialog-content>

  <img [src]="data.img" class="img-thumbnail">

  <p class="mt-4">{{ data.description }}</p>

  <div *ngFor="let oneData of data.usedList" class="d-inline-block mt-2">
    <span class="badge badge-pill badge-primary me-4 mb-2" style="font-size: 14px">{{ oneData }}</span>
  </div>

</mat-dialog-content>