<div class="d-flex justify-content-end"><i mat-dialog-close class="close-icon far fa-times-circle"></i></div>
<h1 class="d-flex justify-content-center" mat-dialog-title style="font-size: 30px;">{{ data.name }}</h1>
<hr class="line-section">
<mat-dialog-content>

  <img [src]="data.img" class="img-thumbnail">

  <p class="mt-4">{{ data.description }}</p>

  <a [href]="data.link" class="btn btn-outline-primary btn-link me-4" target="_blank">Go to page  <i class="fas fa-link"></i></a>
  <a *ngIf="data.repositoryLink !== ''" [href]="data.repositoryLink" class="btn btn-outline-primary btn-link me-4" target="_blank">View repository  <i class="fab fa-github"></i></a><br>

  <div *ngFor="let oneData of data.usedList" class="d-inline-block mt-4">
    <span class="badge-usedList p-2 me-4 mb-2">{{ oneData }}</span>
  </div>
</mat-dialog-content>