<app-navbar></app-navbar>
<app-header></app-header>
<div class=" wow fadeInDown " data-wow-duration=" 1s " data-wow-delay=" 0.5s ">
    <app-portfolio></app-portfolio>
</div>
<div class=" wow fadeInDown " data-wow-duration=" 1s " data-wow-delay=" 0.5s ">
    <app-experience></app-experience>
</div>
<div class=" wow fadeInDown " data-wow-duration=" 1s " data-wow-delay=" 0.5s ">
    <app-skills></app-skills>
</div>
<div class=" wow fadeInDown " data-wow-duration=" 1s " data-wow-delay=" 0.5s ">
    <app-contact></app-contact>
</div>

<app-footer></app-footer>
<app-social-networks></app-social-networks>
