.close-icon {
    font-size: 2.2em;
    transition: transform .3s linear;
}

.close-icon:hover {
    transform: rotate(360deg);
}

.line-section {
    background: linear-gradient(to right, transparent, #0A192F, transparent);
    margin-left: 2%;
    margin-right: 2%;
}

.modal-title {
    display: inline-block;
    background-color: #0A192F;
    color: white;
    border-radius: 12px;
}

@media (max-width: 992px) {
    .close-icon {
        display: none;
    }
}