.skills-title {
    color: #64FFDA;
}

.skill-item {
    margin-bottom: 60px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media (max-width: 576px) {
    .skill-item {
        margin-bottom: 40px;
    }
    .skills-title {
        margin-bottom: 0px !important;
    }
}