.skills-title {
    color: #64FFDA;
    transition: .5s ease all;
}

.skill-item {
    margin-bottom: 60px;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media (max-width: 576px) {
    .skill-item {
        margin-bottom: 40px;
    }
    .skills-title {
        margin-bottom: 0px !important;
    }
}

.skills-title-light {
    color: #0A192F !important;
    transition: .5s ease all;
}