<div id="skills" class="seccion">
    <hr class="line-seccion"/>
    <h1 class="text-center seccion-title">Skills</h1>
    <hr class="line-seccion mb-5"/>
    <div *ngIf="skills.length > 0" class="row">
        <div *ngFor="let skill of skills" class="col-sm-4 skill-item">
            <div class="text-center">
                <h4 class="skills-title animate__animated animate__fadeInUp">{{skill.title}}</h4><br />
                <i [class]="skill.classIcon" [style]=" skill.style "></i>
            </div>
        </div>
    </div>
</div>
